<!DOCTYPE html>
<html>
<head>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Play Test</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles/css/main.css">
	
	<script
	src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<% if(currentUser){ %>
			<p>Signed in as <%= currentUser.username %></p>
			<div class="register-container">
				<a class="register-btn" href="<%= baseUrl %>/logout">Logout</a>
			</div>
		<% } else { %>
			<form class="login-form" action="<%= baseUrl %>/login" method="POST">
				<input type="text" name="username" placeholder="username" value="Steve">
				<input type="password" name="password" placeholder="password" value="123">
				<input class="login-btn" type="submit" value="Login">
			</form>
			<div class="register-container">
				<a class="register-btn" href="<%= baseUrl %>/register">Register</a>
			</div>
		<% } %>
	</header>

	<% if(error && error.length > 0){ %>
		<div role="alert">
			<%= error %>
		</div>
	<% } if(success && success.length > 0){ %>
		<div role="alert">
			<%= success %>
		</div>
	<% } %>