<%- include('../partials/header'); %>

<div class="deckDetails">
    <p><%= deck.name %></p>
    <p><%= deck.format %></p>
    <p><%= deck.dateUpdated %></p>
    <div style="width:15px;height:15px;background-color:<%= deck.color %>;"></div>
</div>

<div class="deckDetailsEdit">
    
</div>

<form class="autocomplete jsAddCardForm" action="/deck/<%= deck._id %>/add" method="POST" autocomplete="OFF">
    <input id="cardInput" class="jsAddCardText" type="text" name="name" placeholder="Card Name">
    <button class="jsAddCardBtn">Add Card</button>
</form>

<select name="actions">
    <option value="remove">Delete</option>
    <option value="maybe">Move to Maybeboard</option>
    <option value="cut">Mark as Cuttable</option>
    <option value="buy">Mark as Not Owned</option>
</select>   
<button onclick="submitAction()">Go!</button> 

<table class="jsCardList">
    <% deck.deckCards.forEach(function(card){ %>
        <tr>
            <td>
                <input type="checkbox" value="<%= card.id %>">
            </td>
            <td><input type="number" value="<%= card.number %>" class="js<%= card.id %>Number"></td>
            <td><%= card.name %></td>
            <td>
                <% if (card.cut) { %>
                    <span>Cut</span>
                <% } %>
                <% if (card.buy) { %>
                    <span>Not Owned</span>
                <% } %>
            </td>
        </tr>
    <% }); %>
</table>

<script src="/scripts/autocomplete.js"></script>
<script src="/bulkData/cardsList.js"></script>
<script>
	autocomplete(document.getElementById("cardInput"), data);
</script>

<script src="/scripts/knockout-3.5.1.js"></script>
<script src="/scripts/deck-actions.js"></script>

<%- include('../partials/footer'); %>