<%- include('../partials/header'); %>

<div class="deck-header">
    <div class="deck-image-container">
        <img src="<%= deck.image %>" onError="this.onerror=null;this.src='/images/placeholder.png';"/>
        <div class="image-overlay"></div>
    </div>
    <div class="deck-text">
        <h2><%= deck.name %></h2>
        <p><%= deck.format %></p>
        <p>Last Updated: <%= deck.dateUpdated %></p>
        <p><a href="<%= baseUrl %>/deck/playtest/<%= deck._id %>">Play Test</a></p>
    </div>
    <div class="header-overlay" style="background: linear-gradient(0deg, <%= deck.color %> 0%, rgba(255,255,255,0) 29%);"></div>
</div>

<div class="deck-sort-options">
    <label>Sort By: </label>
    <select class="jsSort">
        <option value="type">type</option>
        <option value="cmc">cmc</option>
        <option value="color">color</option>
    </select>

    <label for="jsOverlap" class="checkbox-label">
        <input id="jsOverlap" class="jsOverlap" type="checkbox" checked>
        <span>Overlap Categories: </span>
    </label>
</div>

<div class="card-list-wrapper">
    <% sortedCards.forEach(function(section){ %>
        <div class="card-list-section">
            <h3 class="card-list-subtitle"><%= section.subtitle %></h3>
            <div class="card-list">
                <% section.cards.forEach(function(card){ %>
                    <div class="card-row">
                        <div class="card-amount">
                            <p><span><%= card.number %></span>x</p>
                        </div>
                        <div class="card-name">
                            <p><%= card.name %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
</div>

<h3 class="maybeboard-subtitle">Maybeboard</h3>

<div class="maybe-board-wrapper">
    <% deck.maybeCards.forEach(function(card){ %>
        <div class="card">
            <p class="card-name"><%= card.name %></p>
        </div>
    <% }); %>
</div>

<script>
    $(document).ready(function() {
        const queryString = window.location.search;
        const urlParams   = new URLSearchParams(queryString);
        const sortType    = urlParams.get('sort') || "type";
        const overlap     = urlParams.get('overlap');

        $('.jsSort').val(sortType);

        if(overlap == "false") {
            $(".jsOverlap").prop('checked', false); 
        }

        $(".jsSort").on("change", function() {
            update();
        });

        $(".jsOverlap").on("click", function() {
            update();
        });

        function update() {
            var sortOption   =  $('.jsSort').val();
            var overlapOption = $(".jsOverlap").prop('checked') == true ? 'true' : 'false';

            window.location.href = "<%= baseUrl %>/deck/view/<%= deck.id %>?" + "&sort=" + sortOption + "&overlap=" + overlapOption;
        }
    });
    
</script>

<%- include('../partials/footer'); %>