<%- include('../partials/header'); %>

<p><%= deck.name %></p>
<p><%= deck.format %></p>
<p><%= deck.dateUpdated %></p>
<div style="width:15px;height:15px;background-color:<%= deck.color %>;"></div>

<form>
    <select>
        <option value="type">type</option>
        <option value="cmc">cmc</option>
        <option value="color">color</option>
    </select>

    <label>Overlap Categories: </label>
    <input type="checkbox"> 
</form>

<div>
    <% sortedCards.forEach(function(section){ %>
        <h3><%= section.subtitle %></h3>
        <% section.cards.forEach(function(card){ %>
            <p><%= card.name %></p>
        <% }); %>
    <% }); %>
</div>
<br />
<div>
    <% deck.maybeCards.forEach(function(card){ %>
        <p><%= card.name %></p>
    <% }); %>
</div>

<%- include('../partials/footer'); %>